//............. aside here

        .aside {   	        
        	display: flex;
        	flex-direction: column;
        	border-left: solid 2px grey;
        	padding-left: 14px;
        	margin-bottom: 68px;
        	width: 30%;
        	height: 100%;
        	font-family: $font-stack-2;
			font-style: italic;
        	       	
    	}

.container{

	// .main-content{

		.aside{
			
			p{
				font-weight: 500;
				padding-bottom: 20px;
				font-size: 19px;
				color: #68857e;
			}
			
			li{
				margin-bottom: 23px;

			}
			a{
				font-size: 21px;
				text-decoration: none;
				color: white;
				line-height: 25px;
				font-weight: 600;


				span{
					color: #ffff00;
				}
			}
			
		}
	// }
}

//............. aside done