//....................media query starts here

// ............................................max-width : 1160px
@media only screen and (max-width: 1160px){
	.wrapper {
		max-width: 94%;
	}
}

.container {

	.main-content {


        .first-article .flex-font-01{
		
		    font-size: 45px;
    	    justify-content: center;
        }
        .first-article .flex-font-02{
        	line-height: 60px;
    	    font-size: 75px;
    	    justify-content: center;
    	    margin-bottom: 10px;
        }

	}
}

// ............................................max-width : 1070px

@media only screen and (max-width: 1070px){

	.header-up {
		width: 100%;

		.header-up-left{
		   	p{
				
			    font-size: 30px;
			}

			h1{
				
				font-size: 75px;
			 		
			}
		}
	
		.quote{
			margin-right: 45px;
	        margin-top: 39px;
		}

		q{
	 
			line-height: 15px;
			font-size: 23px;
			
		}
		cite{
		
	            margin-right: 8px;
		}
	}

	.main-nav{

	ul {
		
		width: 100%;

	}

	a {
  		font-size: 20px;
  		letter-spacing: 1;
	 	
	}

	li{
	  
	    width: 20%;  
	}
    }


	.container {

		.main-content {


	        .first-article .flex-font-01{
			
			    font-size: 40px;
	    	    justify-content: center;
	        }
	        .first-article .flex-font-02{

	    	    font-size: 60px;
	    	    justify-content: center;
	    	    margin-bottom: 10px;
	        }

	        .first-article p:nth-of-type(1){
				padding-top: 15px;
	        	font-size: 25px;
	            }

	        .first-article p:nth-of-type(2){
		    		
			    font-size: 20px;

	        }

	        .second-article p:first-child{
	        	
	        	font-size: 30px;

	        }

	        .second-article p span{

	        	font-size: 28px;
	        }

	       .second-article p:nth-of-type(2){
				
        		font-size: 20px;
        		
        	}

   		    .second-article p:nth-of-type(3){
				
        		font-size: 15px;
        		
        	}

	    }
	    
	}

	.container {

		.main-content {


	        .first-article .flex-font-01{
			
			    font-size: 45px;
	    	    justify-content: center;
	        }
	        .first-article .flex-font-02{
	        	line-height: 60px;
	    	    font-size: 75px;
	    	    justify-content: center;
	    	    margin-bottom: 10px;
	        }

		}
	}

	footer{
		

	//li {
  	//	padding:24px 5px 50px;
	//	width: 100%;
	//	text-align: center;
		
		
	//}
	li{

		padding-top: 40px;

	}

	a{
		
		font-size: 17px;
		letter-spacing: 0;

	}
    }

}

// ............................................max-width : 995px

@media only screen and (max-width: 995px){

.header-up {
		width: 100%;
		   	
		.header-up-left{  	

		   	p{
			    font-size: 27px;
			}

			h1{
				
				font-size: 70px;
			 		
			}
		}

		.quote{
			margin-right: 25px;
	        margin-top: 39px;
		

		q{
	 
			line-height: 15px;
			font-size: 20px;
		
		}
		cite{
	
            margin-right: 8px;
		}
	}

}

.container {

		.main-content {


	        .first-article .flex-font-01{
			
			    font-size: 40px;
	    	    justify-content: center;
	        }
	        .first-article .flex-font-02{
	        	line-height: 60px;
	    	    font-size: 70px;
	    	    justify-content: center;
	    	    margin-bottom: 10px;
	        }

		}
	}


}

// ............................................max-width : 895px

@media only screen and (max-width: 895px){

	.wrapper{
		max-width: 94%;
	}

	.header-up .header-up-left{
		width: 50%;


	   	p{
		    font-size: 23px;
		}

		h1{
			
			font-size: 46px;
		 		
		}
	}
	
	.header-up{

		.quote{
			margin-right: 10px;
	        margin-top: 25px;
		

			q{
		 		margin-right: 19px;
				font-size: 18px;

				span{
					padding-left: 30px;
					line-height: 15px;
				}
				
			}

			cite{
				margin-right: 23px;
    			margin-top: -6px;
    			font-size: 10px;
			}
		}
	}

	.main-nav{

	ul {
		
		width: 100%;

	}

	a {
  		font-size: 18px;
  		letter-spacing: 0;
  		padding: 10px 20px; 
	 	
	}

	li{
	  
	    width: 20%;  
	}
    }


	.container {

		.main-content {

	        .first-article .flex-font-01{
				font-style: italic;
			    font-size: 26px;
	    	    justify-content: center;
	        }
	        .first-article .flex-font-02{

	    	    font-size: 48px;
	    	    justify-content: center;
	    	    margin-bottom: -15px;
	    	    // margin-bottom: 10px;
	        }

	        .first-article p:nth-of-type(1){
				padding-top: 15px;
	        	font-size: 20px;
	            }

	        .first-article p:nth-of-type(2){
		    		
			    font-size: 15px;

	        }

	        .second-article p:first-child{
	        	
	        	font-size: 25px;

	        }

	        .second-article p span{

	        	font-size: 23px;
	        }

	       .second-article p:nth-of-type(2){
				
        		font-size: 20px;
        		
        	}

   		    .second-article p:nth-of-type(3){
				
        		font-size: 15px;
        		
        	}

        	.aside{

        		padding: 10px;
				padding-bottom: 0;

		    	p{
			    	font-weight: 500;
		    		padding-bottom: 20px;
		    		font-size: 16px;
		    		color: #68857e;
		    	}

		    	ul{
			    	
			    	li{

			    		    margin-bottom: 12px
			    	}

					    a{
						 	font-size: 16px;
						 	line-height: 18px;
					    }
				
				}

				img{
					    max-width: 100%;
					}	

	    	}

	    }
	    
	}

	


	// .container{
			
	// 	.main-content{

	// 		.aside{
			 	
	// 			padding: 10px;
	// 			padding-bottom: 0;

	// 		    ul{
			    	
	// 		    	li{

	// 		    		    margin-bottom: 12px
	// 		    	}

	// 				    a{
	// 					 	font-size: 16px;
	// 					 	line-height: 18px;
	// 				    }
				
	// 			}

	// 			img{
	// 				    max-width: 100%;
	// 				}	
	// 		}
	//     }
	// }


	footer{
		

	//li {
  	//	padding:24px 5px 50px;
	//	width: 100%;
	//	text-align: center;
		
		
	//}
	ul{

		width: 100%
	}
	li{

		padding-top: 40px;

	}

	a{
		
		font-size: 16px;
		letter-spacing: 0;

	}
    }
}

// ............................................max-width : 790px

@media only screen and (max-width: 790px){

	.container{

		.main-content{

			.aside{
				
				p{
					font-weight: 500;
					padding-bottom: 20px;
					font-size: 16px;
					color: #68857e;
				}
			}
		}
	}
}

// ............................................max-width : 650px

@media only screen and (max-width: 650px){


	.wrapper{
		max-width: 100%;
	}

	

	.header-up {
		width: 100%;

		.header-up-left{
			
			padding-left: 10px;

		   	p{
			    font-size: 16px;
			    padding-bottom: 2px;
			}

			h1{
				
				font-size: 35px;

			 }
	}

	.quote{
		margin-right: 8px;
        margin-top: 25px;

	q{
 
		line-height: 15px;
		font-size: 15px;

		span{
			padding-left: 20px;
		}
	}

	cite{
	
            margin-right: 5px;
            font-size: 14px;
		}
	}
}
	
	.main-nav{

		ul {
			
			width: 100%;

		}

		a {
	  		font-size: 14px;
	  		letter-spacing: 0;
		 	
		}

		li{
		  
		    width: 20%;  
		}
    }


	.container {

		.main-content {

			.article {
			width: 100%;
			padding-left: 0;
        	padding-right: 0;
		    }
			
	        .first-article .flex-font-01{
			
			    font-size: 30px;
	    	    justify-content: center;
	        }
	        .first-article .flex-font-02{

	    	    font-size: 50px;
	    	    justify-content: center;
	    	    margin-bottom: 10px;
	        }

	        .first-article p:nth-of-type(1){
				padding-top: 15px;
	        	font-size: 20px;
	            }

	        .first-article p:nth-of-type(2){
		    		
			    font-size: 15px;

	        }

	        .second-article p:first-child{
	        	
	        	font-size: 25px;
	        	border-top: 2px solid #68857e;
	        	padding-top: 25px;

	        }

	        .second-article p span{

	        	font-size: 23px;
	        }

	       .second-article p:nth-of-type(2){
				
        		font-size: 20px;
        		
            }

   		    .second-article p:nth-of-type(3){
				
        		font-size: 15px;
        		
            }

	     }
	    
	}

	.container{

		.main-content{

			.aside{
					
				width: 100%;
	        	border-left: none;
	        	padding-left: 0;
	        	padding-right: 0;
	        	padding-bottom: 0;
	        	margin-bottom: 15px;

			     p{
				 	//padding-bottom: 16px;
				 	text-align: center;
				 	font-size: 13px;
				 	padding-top: 7px;
				 	border-top: 2px solid #68857e;
				 	//color: #68857e;
			     }
				
				ul{
				     li{
					     margin-bottom: 2px;

				     }

				     a{
					 	font-size: 14px;
						line-height: 25px;
				      }
				}

				.cropped-img{

	    		margin: 0 auto;
	    		margin-top: 10px;
	    		
	    		}
			}

		}
	}

	footer{

		li{

			padding-top: 40px;

		}

		a{
		
			font-size: 14px;
			letter-spacing: 0;

		}
    }


}

// ............................................max-width : 480px

@media only screen and (max-width: 480px){
	
	body {

	}

	.wrapper{
		max-width: 94%;
	}

	.header-up {

		height: 90px;
		background-image: url('../images/border_colorful_489x10px.jpg');
		background-position: bottom;
		background-size: contain;
		background-repeat: no-repeat;

		.header-up-left{
		width: 100%;
		padding-left: 0px;

	   	p{
			font-size: 16px;
		    padding-bottom: 2px;
		    margin: 0 auto;
		}

		h1{
			
			font-size: 35px;	
		}
	}

		.mobile_menu{
			width: 30px;
			height: 30px;
			display: block;
			margin-right: 13px;
			margin-top: 35px;
			cursor: pointer;

		}
		.quote{
			display: none;

		}
	}

	.main-nav{

		height: 0;
		overflow: hidden;
		-webkit-transition: height 0.4s ease;
		transition: height 0.4s ease;	

			ul {
				display: flex;
				flex-direction: column;
				width: 100%;

			}

			li{
			  	
			    width: 100%;  
			}

			a {	

		  		font-size: 13.5px;
		  		letter-spacing: 0;
		  		padding-top: 18px;
		    	padding-bottom: 18px; 	
			}
		
			.show-mobile-menu &{

			height: 280px;	
    		}
	}


	.container {

		.main-content {

			.article {
			width: 100%;
			padding-left: 0;
        	padding-right: 0;
		    }
			
	        .first-article .flex-font-01{
			
			    font-size: 25px;
	    	    justify-content: center;
	        }
	        .first-article .flex-font-02{

	    	    font-size: 45px;
	    	    justify-content: center;
	    	    margin-bottom: 0px;
	    	    padding-bottom:0;
	        }

	        .first-article p:nth-of-type(1){
				padding-top: 4px;
    			font-size: 19px;
	        }

	        .first-article p:nth-of-type(2){
		    		
			    font-size: 19px;
    			line-height: 27px;

	        }

	        .second-article p:first-child{
	        	
	        	font-size: 25px;
	        	border-top: 2px solid #68857e;
	        	padding-top: 25px;

	        }

	        .second-article p span{

	        	font-size: 23px;
	        }

	       .second-article p:nth-of-type(2){
				
        		font-size: 20px;
        		
            }

   		    .second-article p:nth-of-type(3){
				
        		font-size: 15px;
        		
            }

	     }
	    
	}

.container{

	.main-content{

		.aside{
						
				width: 100%;
	        	border-left: none;
	        	padding-left: 0;
	        	padding-right: 0;
	        	padding-bottom: 0;
	        	margin-bottom: 15px;

	      //   	.cropped-img{

	    		// margin: 0 auto;
	    		// }
			

			    p{
				 	font-weight: 500;
				    padding-bottom: 7px;
				    font-size: 14px;
				    color: #68857e;
			    }
				
				ul{

					padding-bottom: 10px;

				    li{
					     margin-bottom: 4px;

				    }

				    a{
					 	font-size: 14px;
					    line-height: 20px;
					    font-weight: 500;
					
				    }
				}
				
			}
		}
	}


	footer{
		

	//li {
  	//	padding:24px 5px 50px;
	//	width: 100%;
	//	text-align: center;
		
		
	//}
		li{

			padding-top: 40px;

		}

		a{
		
			font-size: 14px;
			letter-spacing: 0;

		}
    }


}











