//....................media query starts here

@media only screen and (max-width: 895px){

	.wrapper{
		max-width: 94%;
	}

	.header-up .header-up-left{
		width: 50%;


	   	p{
			
		    font-size: 20px;
		}

		h1{
			
			font-size: 46px;
		 		
		}
	}
	.quote{
		margin-right: 15px;
        margin-top: 39px;
	}

	.header-up .quote q{
 
		line-height: 15px;
		font-size: 20px;
		
		}
	.header-up .quote cite{
	
            margin-right: 8px;
		}

	.main-nav{

	ul {
		
		width: 100%;

	}

	a {
  		font-size: 18px;
  		letter-spacing: 0;
	 	
	}

	li{
	  
	    width: 20%;  
	}
    }


	.container {

		.main-content {

	        .first-article .flex-font-01{
			
			    font-size: 30px;
	    	    justify-content: center;
	        }
	        .first-article .flex-font-02{

	    	    font-size: 50px;
	    	    justify-content: center;
	    	    margin-bottom: 10px;
	        }

	        .first-article p:nth-of-type(1){
				        	
	        	font-size: 18px;
	            }

	        .first-article p:nth-of-type(2){
		    		
			    font-size: 10px;

	        }

	        .second-article p:first-child{
	        	color: pink;
	        	font-size: 25px;

	        }

	        .second-article p span{

	        	font-size: 23px;
	        }

	     }


}

   



    .container{

	.aside{
		font-family: $font-stack-2;
		font-style: italic;
		font-weight: 800;
		

		p{
			padding-bottom: 20px;
			font-size: 19px;
			color: #68857e;
		}
		
		li{
			margin-bottom: 23px;

		}
		a{
			font-size: 24px;
			text-decoration: none;
			color: white;
			line-height: 26px;


			span{
				color: #ffff00;
			}
		}
		
	}
}

}


@media only screen and (max-width: 600px){
	
	body {

	}
	

	.container .main-content .article {
			width: 100%;
		}

        .container .main-content .aside {   	        

        	width: 100%;
        	border-left: none;
    	}

    	.cropped-img{

    		margin: 0 auto;
    		
    		
    	}

}