$font-stack-1: Roboto Slab, sans-serif;
$font-stack-2:Exo 2, Exo, sans-serif;
$brand-color: #75bfff;
$link-hover: #ddd;
$text-dark-blue-color: #00b6be;
$text-light-blue-color: #a2e8eb;
$text-orange-color: #f15b40;
$text-yellow-color: #faa61a;