$font-stack-1: "Roboto Slab", sans-serif;
$font-stack-2: "Exo 2", Exo, sans-serif;
$brand-color: #75bfff;
$text-dark-blue-color: #00b6be;
$text-light-blue-color: #a2e8eb;
$text-orange-color: #f15b40;
$text-yellow-color: #faa61a;
$text-light-yellow-color: #FFDD00;
$main-background: #3B3B3B;
$text-white-color: #ffffff;

$header-background: #68857e;
$text-shadow-header: 1px 2px 1px black;

$nav-green-color: #80c342;
$nav-yellow-color: #ffdd00;
$nav-orange-color: #f9a61a;
$nav-red-color: #f15b42;
$nav-blue-color: #00b7bf;
$nav-pink-color: #f05a94;

