@charset "utf-8";
/* CSS Document */

@import "reset";
@import "variabels";
@import "css3-mixins";



body {
	
        background-image: -webkit-repeating-linear-gradient(top, 
	#ffff00 0%, #ffff00 20.00%, #fff200 20.00%, #fff200 30.00%, #ffe227 30.00%,
	#ffe227 70.00%, #fff200 70.00%, #fff200 80.00%, #ffff00 80.00%, #ffff00 100%);	

        background-image: repeating-linear-gradient(top, 
	#ffff00 0%, #ffff00 20.00%, #fff200 20.00%, #fff200 30.00%, #ffe227 30.00%,
	#ffe227 70.00%, #fff200 70.00%, #fff200 80.00%, #ffff00 80.00%, #ffff00 100%);
	
	height: 100%;

}

.wrapper{
	max-width: 1400px;
	margin: 0 auto;
	border-left: solid 8px white;
	border-right: solid 8px white;
	// border-top: inset solid 4px black;
}


/*main*/

.container {
	width: 100%;
    height: auto;
    border: 1px solid #000;
    overflow: auto;
    padding: 30px;
    background-color: #3b3b3b;
    
    .main-content {

        
        width: 953px / 1400px * 100%;
        border: solid 1px #fcb801;
        padding: 20px;

        /*article-01*/

        .flex-font-01{
        	display: flex;
        	flex-wrap: wrap;
        	font-family:$font-stack-2;
        	font-size: 50px;
        	color: $text-dark-blue-color;
        }
        
        .flex-font-02{
        	display: flex;
        	flex-wrap: wrap;
        	justify-content: flex-end;
        	font-family:$font-stack-1;
        	font-size: 70px;
        	color: $text-orange-color;
        	
        }

        .first-article p:nth-of-type(1){

        	font-family:$font-stack-2;
        	font-size: 30px;
        	color: $text-dark-blue-color;
        }
        .first-article p:nth-of-type(2){

        	font-family:$font-stack-2;
        	font-size: 15px;
        	color: $text-light-blue-color;
        	padding: 10px 10px 10px 0;
        }

        .first-article p:nth-of-type(3){
			
			font-family:$font-stack-2;
        	font-size: 15px;
        	color: $text-white-color;
        	line-height: 1.4;

        }

        /*end of article-01*/

        /*article-02*/

        .second-article p:first-child{
			font-family:$font-stack-1;
        	font-size: 40px;
        	color: $text-orange-color;
        	padding: 10px 0 10px 0;


        }

        .second-article p span{
			font-family:$font-stack-2;
        	font-size: 38px;
        	color: $text-yellow-color;
        	padding-left: 5px;
			

        }

        .second-article p:nth-of-type(2){
			font-family:$font-stack-2;
        	font-size: 30px;
        	color: $text-dark-blue-color;

        }

   		.second-article p:nth-of-type(3){
			font-family:$font-stack-2;
        	font-size: 20px;
        	color: $text-light-blue-color;
        	padding: 15px 10px 15px 0;

        }

        .second-article p:last-child{
			font-family:$font-stack-2;
        	font-size: 15px;
        	color: $text-white-color;
        	line-height: 1.4;

        }
        /*end of article-02*/



		/*aside*/


    }
    .aside {
        
        display: flex;
        flex-direction: column;


        float: left;
        width: 953px / 1400px * 100%;
        border: solid 1px #fcb801;
        padding: 20px;
    }
    .aside {
        float: right;

        width: 447px / 1400px * 100%;
        border-left: solid 2px grey;
        padding: 51px;
    }

     
     /*end of aside*/

 }

 /*end of main.........*/

.first-article > img{

    
}

.first-article > img{
	max-width:100%;
	height: auto;
}

.aside > img{
	max-width:100%;
	height: auto;
}


// ..................header section

header{
	border-top: solid 8px $main-background;
}

.header-up{
	background-color: $header-background;
	display: flex;


	.header-up-left{
	margin-right: auto;
    width: 50%;
    text-align: center;
    padding: 25px 50px;

		p{
			font-family: $font-stack-2;
			font-size: 30px;
			font-weight: 900;
			padding-bottom: 10px;
			color: lighten($header-background, 20);
			text-shadow: $text-shadow-header;
		}

		h1{
			font-family: $font-stack-1;
			font-size: 90px;
			color: white;
			font-weight: bold;
			text-shadow: $text-shadow-header;
		}

	}

	.quote{
		    height: auto;
    		margin-right: 61px;
    		margin-top: 42px;

	 q{
		width: 30%;
		padding: 35px 40px;
		font-family: $font-stack-2;
		font-size: 35px;
		color: white;
		line-height: 32px;

		span{
			padding-left: 99px;
		}
	}

	cite{
			color: white;
    text-align: right;
    display: block;
    margin-right: 30px;
		}

	 }

}

// ............navigation here

.main-nav{

	ul {
		display:flex;
		width: 100%;

	}

	a {
  		color: white;
	    letter-spacing: 2px;
	    font-family: $font-stack-1;
	    font-size: 21px;
	    text-decoration: none;
		// padding: 5px 59px;
		padding: 10px 30px; 
		display: block;
	}

	li{
	    text-align: center;
	    margin: 0;
	    padding: 0;
	    width: 20%;  
	}
	
	li:first-child a{
		background-color: $nav-green-color;
		border-bottom: solid 7px $nav-blue-color;
	}

	li:nth-of-type(2) a{
		background-color: $nav-yellow-color;
		border-bottom: solid 7px $nav-green-color;
	}
	
	li:nth-of-type(3) a{
		background-color: $nav-orange-color;
		border-bottom: solid 7px $nav-yellow-color;
	}
	
	li:nth-of-type(4) a{
		background-color: $nav-red-color;
		border-bottom: solid 7px $nav-orange-color;
	}

	li:last-child{
		background-color: $nav-blue-color;
		border-bottom: solid 7px $nav-pink-color;
	}

	 li:nth-child(1n) a:hover,
	 li:nth-child(1n) a:focus{
		background-color: white;
		color: black;
	}

}

// .............................end of header


// .............................footer start here

footer{
	background-color: $header-background;

	ul {
		display:flex;
		width: 50%;
		margin: 0 auto;
	}

	li {
  		color: white;
		letter-spacing: 2px;
		padding:24px 5px 50px;
		width: 100%;
		text-align: center;
		font-family: $font-stack-1;
		font-size: 17px;
	}

}

// .............................footer end here

// .............................container start here

.container{

	.aside{
		font-family: $font-stack-2;
		font-style: italic;
		font-weight: 800;
		color:white;

		p{
			padding-bottom: 20px;
			font-size: 19px;
		}
		
		li{
			margin-bottom: 23px;

		}
		a{
			font-size: 24px;
			text-decoration: none;
			color: white;
			line-height: 26px;


			span{
				color: #ffff00;
			}
		}		

	}
}


